In [1]:
import numpy as np
import pandas as pd
np.random.seed(0)

In [2]:
df = pd.read_csv("bank-additional-full-masked.csv", sep=";")
df

,client_id,age,job,marital,education,default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,1,56,housemaid,married,basic.4y,no,no,no,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,2,57,services,married,high.school,unknown,no,no,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,3,37,services,married,high.school,no,yes,no,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,4,40,admin.,married,basic.6y,no,no,no,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,5,56,services,married,high.school,no,no,yes,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,41184,73,retired,married,professional.course,no,yes,no,cellular,nov,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,41185,46,blue-collar,married,professional.course,no,no,no,cellular,nov,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,41186,56,retired,married,university.degree,no,yes,no,cellular,nov,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,41187,44,technician,married,professional.course,no,no,no,cellular,nov,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,41188,74,retired,married,professional.course,no,yes,no,cellular,nov,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [3]:
df.shape

(41188, 23)

In [4]:
df = df.mask(np.random.choice([True, False], size=df.shape, p=[.05,.95]))

In [5]:
df

,client_id,age,job,marital,education,default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,1.0,56.0,housemaid,married,basic.4y,no,no,no,telephone,may,...,1.0,999.0,0.0,NaN,1.1,93.994,-36.4,4.857,5191.0,no
1,2.0,57.0,services,married,high.school,unknown,no,no,telephone,may,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,3.0,37.0,services,married,high.school,no,yes,no,telephone,may,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,4.0,40.0,admin.,married,basic.6y,no,NaN,no,telephone,may,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,5.0,56.0,services,married,high.school,NaN,no,NaN,telephone,may,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,41184.0,73.0,retired,married,professional.course,no,yes,no,cellular,nov,...,1.0,999.0,0.0,nonexistent,-1.1,NaN,-50.8,1.028,4963.6,yes
41184,41185.0,46.0,blue-collar,married,professional.course,no,no,no,cellular,nov,...,1.0,999.0,NaN,nonexistent,-1.1,94.767,NaN,1.028,4963.6,no
41185,41186.0,56.0,retired,married,university.degree,no,yes,no,cellular,NaN,...,2.0,999.0,0.0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,41187.0,44.0,technician,married,professional.course,no,no,no,cellular,nov,...,1.0,999.0,0.0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,41188.0,74.0,retired,married,professional.course,no,yes,no,cellular,nov,...,3.0,999.0,1.0,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [6]:
df.to_csv("bank-additional-full-masked-null.csv",sep=";", index=False)